<section class="cases section" id="cases" data-section="cases">
    <div class="container">
        <h2 class="section-short-title">Примеры работ</h2>
        <p class="section-title">Кейсы — задача, решение, результат</p>
        <p class="cases__desc">Реальные проекты с деталями</p>
        <div class="cases__items">
            {% for casesItem in cases %}
            <div class="case-card">
                <div class="case-card__image">
                    <img src="{{ casesItem.image }}" alt="" loading="lazy" width="338" height="155">
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title">{{ casesItem.title }}</h3>
                    <p class="case-card__desc">{{ casesItem.description }}</p>
                    <div class="case-card__result">
                        <i class="icon-check"></i>
                        {{ casesItem.result }}
                    </div>
                    <ul class="case-card__bottom">
                        {% for bottomItem in casesItem.bottom %}
                        <li>{{ bottomItem|raw }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>