<!DOCTYPE html>
<html lang="ru">
<head>
    {{ wp_head() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/assets/libs/css/reset.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/assets/css/style.css">
    <title>{% block seoTitle %}{% endblock %}</title>
    <meta name="description" content="{% block seoDescription %}{% endblock %}">
    <meta name="keywords" content="{% block seoKeywords %}{% endblock %}">

    <style>
        .header {
            margin-top: var(--wp-admin--admin-bar--height, 0);
        }

        @media screen and (max-width: 782px) {
            html #wpadminbar {
                position: fixed;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        {% include "components/header.twig" %}
        
        <main class="page">
            {% block body %}
            {% endblock %}
        </main>

        {% include "components/footer.twig" %}

        <div class="modal-overlay"></div>
        <div class="modals" role="presentation">
            {% include "components/modals/contact-modal.twig" %}
            {% include "components/modals/order-success.twig" %}
        </div>
    </div>

    {{ wp_footer() }}
    <script src="{{ get_template_directory_uri() }}/assets/js/main.js"></script>
</body>
</html>