{% extends "layouts/base.twig" %}

{% block seoTitle %}{{ seo_tags.title }}{% endblock %}
{% block seoDescription %}{{ seo_tags.description }}{% endblock %}
{% block seoKeywords %}{{ seo_tags.keywords }}{% endblock %}

{% block body %}
<div class="document">
    <div class="container">
        <h1 class="section-title --medium">{{ title }}</h1>
        <div class="document__content">
            {{ content|raw }}
        </div>
    </div>
</div>
{% endblock %}